 *{
  margin: 0;
  padding: 0;
}
body{
  background-color: #EFEFEF;
}

img {
	max-width:100%;
	max-height:100%;
}
.lienImg:hover{
  opacity: 0.8;
}

main{
  margin-top: 2%;
  padding: 0;
  display: block;
}

.title {
  display: block;
  margin-bottom: 45px;
  font-family: 'Tangerine';
  font-size: 32px;
}

content {
  display: block;
  margin-left: 10%;
}

footer {
  clear : both;
  display: block;
  background-color: #414141;
  margin-top: 50px;
}

/*
 * HEADER
 */
.title > div {
  text-align: center;
}

.title > div > p {
  margin-top: 30px;
}

/*
 * CONTENT
 */

 /* box */
.boxStyle {
  background-color: white;
  width: 90%;
  margin: 0 0 0 0;
  margin-bottom: 30px;
  box-shadow: 3px 3px 14px 4px #9b9b9b;
  border-radius: 12px;
}

.boxStyle * {
  margin: 0 0 0 0;
}

/* box text */
.boxStyle > span * {
  margin: 10px 0 0 10px;
}
.boxStyle > span p > span {
  font-weight: bold;
  text-decoration: underline;
}

/* sidebar */
aside {
  float: none;
  width: 90%;
}

.facePicture {
  background-color: white;
  box-shadow: 3px 3px 16px 2px #9b9b9b;
  margin-bottom: 30px;
  border-radius: 12px;
}

.facePicture *{
  margin: 0;
}
.facePicture > span * {
  margin: 6px 0 0 10px;
}

.facePicture > span p > span {
  font-weight: bold;
  text-decoration: underline;
}

aside article:last-child {
  margin-top: 30px;
}


aside div + div{
  margin: 20px 0 0 0;
}

.synopsis {
  line-height: 21px;
}

/*
 * FOOTER
 */
footer nav{
  margin: -30px 0 0 0;
  text-align: center;
}

footer nav span{
  line-height: 60px;
}

footer nav span a{
  margin: 0 30px 0 0;
}

footer a:link {
  text-decoration: none;
  color: white;
}

footer a:hover {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  color: white;
}

footer a:visited {
  text-decoration: none;
  color: white;
}

/*
 * HEADER - TITLE
 */
.title {
  background-color: lightgrey;
  padding: 22px;
  border-left: 15px solid #111;
  border-right: 15px solid #111;
  border-top: 5px solid #111;
  border-bottom: 5px solid #111;
  box-shadow: 0px 0px 20px 5px #9F9F9F;
  border-radius: 12px;
}

/*
 * BUTTON
 */
.button {
   text-align: center;
   display: inline-block;
   margin: 11px 0 11px 11px;
   background-color: white;
   border: 1.5px solid #000;
   transition-duration: 0.75s;
 }

.button:hover {
   background-color: #000;
   border: solid 1.5px;
   border-radius: 15px;
 }

.button a {
  padding: 14px 40px;
  transition-duration: 0.70s; /*Micro décalage de 5ms pour la visibilité*/
  line-height: 40px;
  margin: 6px 0 6px 6px;
}

aside .button a {
  padding: 8px 30px;
  line-height: 30px;
}

.button a:hover {
  border: none;
  color: white;
}

/*
 * LINK
 */
article a:link {
  text-decoration: none;
  color: black;
}

article a:visited {
  text-decoration: none;
  color: black;
}

/*
 * MENU
 */
.mainNav {
  box-shadow: 0px 0px 10px 5px #9F9F9F;
  border-radius: 12px;
  margin-bottom: 30px;
}

.mainNav ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2B2B2B;
  border-radius: 12px;
}

.mainNav li {
  float: left;
  width:16.66%;
}

.mainNav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

.mainNav li a:hover {
  background-color: #191919;
  border-radius: 12px;
}

.mainNav li a:hover {
  border: none;
}
.mainNav li a:link {
  color: white;
}

/*
Page Developpeur
*/
.entete {
  display: block;
  background-color: white;
  margin: 0 0 0 0;
  margin-bottom: 30px;
  box-shadow: 3px 3px 14px 4px #9b9b9b;
  border-bottom-left-radius: 12px;
  overflow-y: auto;
}

.entete img {
  display: block;
  float: left;
  height: 170px;
  margin-right: 13px;
}

.entete p {
  line-height: 22px;
  text-align: justify;
  padding:0 7px 0 7px;
  text-indent: 32px;
}
.entete div {
  margin-top: 10px;
  margin-left: 10px;
}

.entete ul{
  margin-left: 25px;
}

.entete h3{
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
}


.definition p{
  line-height: 24px;
  font-size: 20px;
  text-indent: 16px;
}

.double article {
  width: 48%;
  line-height: 22px;
  text-align: justify;
  padding:0 7px 0 7px;
}

.face {
  float: right;
}
.left {
  float: left;
}

.double + .double {
  clear: both;
}

.topBorder {
  border-top : 6px solid black;
}

.entete a div {
  text-align: center;
  margin : 8px 0 8px;
  font-size: 20px;
}

.entete p a:link {
  text-decoration: underline;
}

.entete a:hover {
  color : grey;
  text-decoration: underline;
}

.entete a + p{
  text-align : center;
  margin-bottom: 8px;
}

/*
 * Interview section
 */
.interviewHeader {
  display: block;
  border: none;
  overflow: auto;
  background-color: white;
  box-shadow: 3px 3px 14px 4px #9b9b9b;
  border: black 1px solid;
}

.interviewHeader img{
  display: inline;
  height: 200px;
  width: 300px;
}

.interviewHeader h2{
  text-align: center;
  font-size: 30px;
  margin-top: 16px;
}
.interviewHeader p {
    text-align: center;
    margin-top: 28px;
    font-size: 20px;
    line-height: 30px;
}
.interviewHeader a:link {
   text-decoration: underline;
}
.interviewHeader a:hover {
   color: grey;
}

.interview content {
  margin-top: -10px;
  margin-left: 15%;
  width: 70%;
}
.interview article{
  margin: 16px 0;
}

section article nav ul{
  list-style-type: hiragana;
  margin-left: 32px;
  font-weight: bold;
  font-size: 20px;
  color: #333;
}
section article nav ul li{
  margin-top: 12px;
}

section article nav ul li a:link{
  color: black;
}

section article nav ul li a:hover{
  color: grey;
  text-decoration: underline;
}

section article nav ul li a:active{
  color: purple;
}

section article nav p{
  font-size: 26px;
  text-decoration: underline;
}

section content article{
  font-size: 20px;
  line-height: 24px;
  text-align: justify;
}
section content article span{
  font-size: 20px;
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 8px;
}

/*
 * Header Surveillance
 */
.container {
  padding: 16px;
}

.pdf {
  margin: 0 14% 32px;
  background-color: white;
  border: 1px solid black;
  overflow-y: auto;
}

/*Haut de page*/
.titlePdf *{
  margin-bottom: 16px;
 }
.titlePdf h1{
  text-align: center;
  font-size: 54px;
}
.titlePdf h3{
  text-align: center;
}
.titlePdf h4{
  clear: both;
}

.subTitlePdf {
  font-size: 20px;
  font-weight: bold;
  text-align: justify;
  padding-right: 16px;
  border-right: 1px solid black;
}

/*article*/
.column{
  display: block;
  clear: both;
  column-count: 2;
  column-gap: 40px;
}

.pdf p {
  text-align: justify;
  text-indent: 48px;
  line-height: 32px;
}

.pdf img {
  display: block;
}

.pdf span hr {
  margin: 0 45%;
}

.subTitle-Type1 {
  font-size: 48px;
  background: linear-gradient(to right, #EEE, #CCC);
  border-right: 3px solid #444;
}
.subTitle-Type2 {
  font-size: 48px;
  background: linear-gradient(to right, #CCC, #EEE);
  border-left: 3px solid #444;
  text-align: right;
}
.subTitle-Type3 {
  font-size: 38px;
  background: linear-gradient(to right,#EEE, #CCC);
  border-right: 3px solid #999;
}

.webographie {
  text-align: justify;
  line-height: 22px;
  margin-bottom: 16px;
  margin-top: 16px;
}

.column3 p{
  text-align: left;
  text-indent: 0;
  line-height: 20px;
}

.column3 div {
  display: inline-block;
  width: 30%;
  vertical-align:top;
}

/*
 * RESPONSIVITE
 */
@media screen and (min-width: 1150px) {
    aside {
        float: right;
        width: 31.5%;
    }
    main{
      margin: 2% 15% 0 15%;
    }
    content {
      margin-left: 0%;
    }
    .boxStyle {
      width: 66%;
    }
}

// Les points sont inspirés de https://www.w3.org/Style/Examples/007/leaders.en.html
div.webo_wrapper{
    margin-left: 0.0em;
    margin-right: 0.0em;
}
ul.webographie {
    max-width: 500em;
    padding: 0;
    overflow-x: hidden;
    list-style: none
}
ul.webographie li:after {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
        ". . . . . . . . . . . . . . . . . . . . "
}
ul.webographie span {
    background: white
}
ul.webographie span + span {
    font-style: italic;
}
ul.webographie a {
    float: right;
    text-decoration: underline;
    background: white;
    position: relative;
    z-index: 1
}
